* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90%;
}

.company-logo {
  height: 100%;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .container .nav-items {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.callout {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.callout form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.callout input [type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

.callout .btn {
  background-color: #f1c40f;
  padding: 5px;
  border: 1px solid #f1c40f;
  border-radius: 5px;
}
