* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  background: #eee;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 95%;
}

.company-logo {
  height: 100%;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .container .nav-items {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.callout {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.callout form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.callout .email {
  min-width: 275px;
  width: 100%;
  padding: 5px;
}

.callout .btn {
  background-color: #f1c40f;
  padding: 5px 10px;
  border: 1px solid #f1c40f;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

#features {
  margin: 0 auto;
}

#features .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#features .container .row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  gap: 100px;
  height: 125px;
  width: 910px;
  padding: 5px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  color: darkorange;
}

#how-it-works .container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#how-it-works .container iframe {
  width: 100%;
  max-width: 560px;
}
